APP_SERVER_PORT=4000
APP_API_SERVER=http://localhost:4000/
CORS_ORIGINS=http://localhost:5173,http://localhost:5174,http://localhost:5175

DB_HOST=localhost
DB_PORT=3306
DB_USER_NAME=root
DB_USER_PASSWORD=
DB_NAME=super_mart_dev

JWT_SECRET=change-me
JWT_EXPIRES_IN=3d

SEED_ADMIN_EMAIL=admin@supermart.local
SEED_ADMIN_PASSWORD=Admin@123
